<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fxdsse.SEhomework">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fxdsse.SEhomework.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.fxdsse.SEhomework.WalletActivity"
            android:label="我的钱包"
            android:parentActivityName="com.fxdsse.SEhomework.MainActivity" />
        <activity
            android:name="com.fxdsse.SEhomework.LauncherActivity"
            android:parentActivityName="com.fxdsse.SEhomework.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fxdsse.SEhomework.BookDetailActivity" />
        <activity
            android:name="com.fxdsse.SEhomework.OrdersActivity"
            android:label="我的订单"
            android:parentActivityName="com.fxdsse.SEhomework.MainActivity" />
        <activity
            android:name="com.fxdsse.SEhomework.PositionActivity"
            android:label="@string/title_activity_position"
            android:parentActivityName="com.fxdsse.SEhomework.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fxdsse.SEhomework.MainActivity" />
        </activity>
        <activity
            android:name="com.fxdsse.SEhomework.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.fxdsse.SEhomework.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fxdsse.SEhomework.MainActivity" />
        </activity>
        <activity
            android:name="com.fxdsse.SEhomework.ShopActivity"
            android:label="@string/title_activity_shop"
            android:parentActivityName="com.fxdsse.SEhomework.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fxdsse.SEhomework.MainActivity" />
        </activity>
        <activity android:name="com.fxdsse.SEhomework.FavorActivity"/>

        <activity
            android:name="com.fxdsse.SEhomework.PayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>